
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Question</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<main class="container text-center my-5">
  <h1 class="display-4 text-success">Quiz Bank Management</h1>
  <div class="d-flex justify-content-center gap-3 mt-4">
    <a href="/quizzes" class="btn btn-primary btn-lg">Quizzes</a>
    <a href="/questions" class="btn btn-success btn-lg">Questions</a>
  </div>
</main>

</body>
</html>

