/* Reset CSS mặc định */
* {
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "Arial", sans-serif;
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Đảm bảo main không bị dính vào header */
main {
  margin-top: 80px;
}

/* Navbar tùy biến */
.navbar {
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
